@font-face {
  font-family: 'SFProText';
  src: url('./assets/fonts/SFProText-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('./assets/fonts/SFProText-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

html,
body {
  background: #090909;
  height: 100%;
  display: flex;
}

body {
  width: 100%;
}

/* ########## GREETING ########## */
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-content {
  font-family: 'SFProText', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease, visibility 0s linear 0.8s;
  color: #ffffff;
  width: 100%;
  margin: 15px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  justify-content: space-between;
}

.main-content.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.font18 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.41px;
}

.font17 {
  font-weight: 400;
  font-size: 17px;
}

.font16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.43px;
}

.font15 {
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -5px;
}

.font14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.41px;
}

.font13 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.08px;
}

.font12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.4px;
}

/* ########## SECTION NOTIFICATION ########## */
.notification {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.notification * {
  margin: 0;
}

.notification_device {
  flex-grow: 1;
}

.notification_brand {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
}

.notification_model {
  color: #7f7f7f;
  line-height: 26px;
}

.notification_status {
  color: #0a84ff;
}

.notification_action {
  width: 116px;
  height: 30px;
  border-radius: 12px;
  padding: 6px 8px;
  background: #0a84ff;
  color: #ffffff;
  border: none;

  white-space: nowrap;
  cursor: pointer;
}

/* ########## SECTION SETTINGS ########## */
.settings_item {
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #2c2c2c;
  padding-bottom: 10px;
  margin: 10px 0;
}

.settings_text {
  flex-grow: 1;
}

.settings_value {
  color: #0a84ff;
}

/* ########## SECTION CARD ########## */
.card {
  background: #1c1c1e;
  border-radius: 10px;
}

.card_item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;

  position: relative;
  cursor: pointer;
}

.card_item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 85%;
  height: 1px;
  background: #2c2c2c;
}

.card_item:last-child::after {
  content: none;
  margin: 0;
}

.card_text {
  flex-grow: 1;
}

.card_value {
  color: #464649;
}

.card_greater {
  font-weight: 590;
  font-style: semi-bold;
  font-size: 24px;
  line-height: 19px;
  letter-spacing: -0.15px;
  color: #464649;
}

/* ########## SECTION IPHONE ########## */
.iphone {
  background: #1c1c1e;
  border-radius: 10px;
}

.iphone_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.iphone_device {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
}

.iphone_description {
  color: #464649;
}

/* ########## SECTION ACTION ########## */

.action {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.action_button {
  width: 100%;
  border-radius: 10px;
  padding: 15px 0;
  background: #0a84ff;
  color: #ffffff;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}
